<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header th:fragment="navigation">
    <div id="brand"><a href="/">Mimsit</a></div>
    <nav>
        <ul>
            <li><a href="/">Начало</a></li>
            <li><a th:href="@{/articles}">Бабини таини</a></li>
            <li><a th:href="@{/gallery}">Галерия</a></li>
            <li><a th:href="@{/gallery/video}">Видеа</a></li>
            <li><a th:href="@{/upload}">Добави</a></li>
            <li><a th:href="@{/about}">За нас</a></li>
            <li id="login" sec:authorize="!isAuthenticated()"><a th:href="@{/users/login}">Вход</a></li>
            <li id="signup" sec:authorize="!isAuthenticated()"><a th:href="@{/users/register}">Регистрация</a></li>
            <li id="admin" sec:authorize="hasRole('ADMIN')"><a href="">Админ панел</a></li>
            <li id="profile" sec:authorize="isAuthenticated()"><a th:href="@{/users/profile}">Профил</a></li>
        </ul>
    </nav>
    <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <ul class="mobile-menu">
            <li><a href="/">Начало</a></li>
            <li><a th:href="@{/articles}">Бабини таини</a></li>
            <li><a th:href="@{/gallery}">Галерия</a></li>
            <li><a th:href="@{/gallery/video}">Видеа</a></li>
            <li><a th:href="@{/upload}">Добави</a></li>
            <li><a th:href="@{/about}">За нас</a></li>
            <li id="login" sec:authorize="!isAuthenticated()"><a th:href="@{/users/login}">Вход</a></li>
            <li id="signup" sec:authorize="!isAuthenticated()"><a th:href="@{/users/register}">Регистрация</a></li>
            <li id="admin" sec:authorize="hasRole('ADMIN')"><a href="">Админ панел</a></li>
            <li id="profile" sec:authorize="isAuthenticated()"><a th:href="@{/users/profile}">Профил</a></li>
        </ul>
    </div>
</header>

<footer th:fragment="footer">

    <script src="/js/menu.js"></script>
</footer>
</body>
</html>