<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>

<main>
    <section th:each="a : ${articles}" class="container mt-5">
        <div class="card mb-3 gallery-form-view">
            <div class="row g-0">
                <div class="col-md-4">
                    <img th:src="${a.getUrl()}" class="img-fluid gallery-form-view" >
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${a.getName()}" alt="title"></h5>
                        <p class="card-text" th:text="${a.getDescription()}"></p>
                        <div class="row">
                            <p class="card-text col-4"><small class="text-muted" th:text="${a.getAdded()}"></small></p>
                            <p class="card-text col-4"><small class="text-muted" th:text="${a.getPublished().getUsername()}"></small></p>
                            <p class="card-text col-4"><a th:href="@{/details/{id}(id = ${a.getId()})}">виж коментарите</a></small></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/commons::footer"></footer>

</body>

</html>