<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>

<main id="container">
    <section class="articlesContainer">
        <div class="articlesCard" th:each="a : ${articles}">
            <div class="articlesCardImage">
                <img class="articlesImage" th:src="${a.getUrl()}">
            </div>
            <div class="articlesCardDetails">
                <div class="detailsCard">
                    <div class="description">
                        <h5 th:text="${a.getName()}" alt="title"></h5>
                        <p th:text="${a.getDescription()}"></p>
                        <br>
                        <br>
                    </div>
                    <div class="readMe">
                        <a th:href="@{/details/{id}(id = ${a.getId()})}">Повечети статията</a>
                    </div>
                    <div class="infoForUser">
                        <p class="time"><small th:text="${a.getAdded()}"></small></p>
                        <p class="name"><small th:text="${a.getPublished().getUsername()}"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/commons::footer"></footer>

</body>

</html>