<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>


<main id="page">
    <section id="animal">
        <div>
            <h2>Choise your animal friend</h2>
        </div>
    </section>
    <section id="wellcome">
    <div class="welcomeBack">
        <h2>Welcome to site</h2>
    </div>
    </section>
    <section  id="news">
        <div class="newsBack">
            <div>
                <h2>Wellcome to news</h2>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
                <p>Правила на саита</p>
            </div>
        </div>
    </section>
    <section id="gallery">
        <div class="most">
            <a th:href="login">
                <div class="mostBack"></div>
            </a>
        </div>
        <div class="last">
            <a th:href="login">
                <div class="lastBack"></div>
            </a>
        </div>
    </section>

</main>



<footer th:replace="fragments/commons::footer"></footer>
</body>

</html>