<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>


<section id="loginPage">
    <form th:action="@{/users/login}"
          th:method="POST"
          class="loginForm">
        <img src="/images/loginLogo.png" alt="logo"/>
        <h2>Вход</h2>

        <div>
            <label for="username">Потребителско име:</label>
            <input th:value="${username}"
                   id="username"
                   name="username"
                   type="text"
                   min="4"
                   max="20"
                   placeholder="username"
                   value="">
        </div>

        <div>
            <label for="password">Парола:</label>
            <input id="password"
                   name="password"
                   type="password"
                   minlength="4"
                   maxlength="20"
                   placeholder="********"
                   value="">
        </div>

        <button class="buttonForm" type="submit">Влез</button>

        <p class="field">
            <span>Ако нямате профил щракнете <a href="/users/register">Тук</a></span>
        </p>

        <a class="forgot-links" href="">Забравена парола ?</a>
    </form>
</section>


<footer th:replace="fragments/commons::footer"></footer>

</body>

</html>