<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>

<main id="container">
    <div id="profileCard" class="profileBadge">
        <section class="welcomeMessage">
            <div>
                <div>
                    <p>Здравей :
                        <th:block th:text="${userViewModel.getUsername()}"></th:block>
                    </p>
                </div>
                <div class="btnForm">
                    <div class="formLogout">
                        <form th:action="@{/users/logout}" th:method="POST">
                            <button class="btnLogout" type="submit">Изход</button>
                        </form>
                    </div>
                    <div class="formEdit">
                        <form th:action="@{/users/edit}" th:method="PUT">
                            <button class="btnEdit" type="submit">Редактирай</button>
                        </form>
                    </div>
                    <div class="formDelete">
                        <form th:action="@{/users/delete}" th:method="DELETE">
                            <input type="hidden" name="id" th:value="${userViewModel.getId()}">
                            <button id="deleteUser" class="btnDelete" type="submit">Изтриване</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="userDetails">
            <div class="partOne">
                <p>Ти си :
                    <th:block th:text="${userViewModel.getUsername()}"></th:block>
                </p>
                <p>Години:
                    <th:block th:text="${userViewModel.getAge()}"></th:block>
                </p>
                <p>Ти си от :
                    <th:block th:text="${userViewModel.getTown()}"></th:block>
                </p>
                <p>E-mail:
                    <th:block th:text="${userViewModel.getEmail()}"></th:block>
                </p>
            </div>
            <div class="partTwo">
                <p>Побликувани снимки:
                    <th:block th:text="${userPictures.size()}"></th:block>
                </p>
                <p>Побликувани статии:
                    <th:block th:text="${userArticles.size()}"></th:block>
                </p>
                <p>Качени видеа :
                    <th:block th:text="${userVideo.size()}"></th:block>
                </p>
                <p>Профила е създаден:
                    <th:block th:text="${userViewModel.getCreated()}"></th:block>
                </p>
            </div>
        </section>
        <section class="userStatistic">

        </section>
        <section class="userArticles">

        </section>
        <section class="userVideo">

        </section>
        <section class="userPictures">

        </section>
    </div>
</main>

<script src="/js/profile.js"></script>
<footer th:replace="fragments/commons::footer"></footer>

</body>

</html>